{{ 'section-quiz.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quiz.js' | asset_url }}" defer="defer"></script>


  <script>
    const questions = [
  { /* Index 0 */
    name: "product_type",
    text: "What are you looking for?",
    options: [
      { value: "bike", img: '{{ "quiz-bike.jpg" | asset_url }}', label: "A new bike", nextStep: 1 },
      { value: "equipment", img: '{{ "quiz-equipment.jpg" | asset_url }}', label: "Helmets", nextStep: 3 }
    ]
  },
  /* --- BIKE PATH --- */
  { /* Index 1 */
    name: "bike_type",
    text: "What style of riding?",
    options: [
      { value: "track", img: '{{ "quiz-track.jpg" | asset_url }}', label: "Track", nextStep: 2 },
      { value: "mountain", img: '{{ "quiz-mountain.jpg" | asset_url }}', label: "Mountain", nextStep: 2 }
    ]
  },
  { /* Index 2 */
    name: "bike_color_collection",
    text: "Choose your bike color:",
    options: [
      { value: "black-bikes", img: '{{ all_products["black-mountain-bike"].featured_image | image_url: width: 300 }}', label: "Black", nextStep: null },
      { value: "blue-bikes", img: '{{ all_products["blue-mountain-bike"].featured_image | image_url: width: 300 }}', label: "Blue", nextStep: null }
    ]
  },
  /* --- EQUIPMENT PATH --- */
  { /* Index 3 */
    name: "helmet_color",
    text: "What color helmet?",
    options: [
      { value: "red-helmets", img: '{{ all_products["red-helmet"].featured_image | image_url: width: 300 }}', label: "Red", nextStep: 4 },
      { value: "gold-helmets", img: '{{ all_products["gold-helmet"].featured_image | image_url: width: 300 }}', label: "Gold", nextStep: 4 }
    ]
  },
  { /* Index 4 */
    name: "helmet_size_collection",
    text: "What is your size?",
    options: [
      { value: "small-helmets", label: "Small", nextStep: null },
      { value: "large-helmets", label: "Large", nextStep: null }
    ]
  }
];

  </script>


<div class="quiz page-width">
  <div class="quiz-progress-container">
    <div class="progress-label">
      Step <span id="current-step">1</span> of <span id="total-steps">0</span>
    </div>
    <div class="progress-bar-background">
      <div id="progress-bar-fill" class="progress-bar-fill"></div>
    </div>
  </div>

  <form id="quizForm">
   
  </form>
  <div id="nav-buttons">
    
      <button id="prev-button" class="button previous-btn">← Previous</button>
      <button id="next-button" class="button next-btn">Next →</button>
    
    <button id="finish-button" class="button next-btn">Submit</button>
  </div>
</div>

{% schema %}
{
  "name": "Quiz",
  "settings": [],
  "presets": [
    {
      "name": "Quiz",
      "category": "Custom"
    }
  ]
}
{% endschema %}
